<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <title>Login &#8211; Taxsam SIA</title>
  <link rel='dns-prefetch' href='//s.w.org' />
  <link rel="alternate" type="application/rss+xml" title="WellcodeDev &raquo; Feed" href="https://d3fqce1j16tgc9.cloudfront.net/feed/" />
  <link rel="alternate" type="application/rss+xml" title="WellcodeDev &raquo; Comments Feed" href="https://d3fqce1j16tgc9.cloudfront.net/comments/feed/" />
  <script>
    window._wpemojiSettings = {
      "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/72x72\/",
      "ext": ".png",
      "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/svg\/",
      "svgExt": ".svg",
      "source": {
        "concatemoji": "https:\/\/accounting-system-bpi.s3.ap-southeast-1.amazonaws.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.5.5"
      }
    };
    ! function (e, a, t) {
      var n, r, o, i = a.createElement("canvas"),
        p = i.getContext && i.getContext("2d");

      function s(e, t) {
        var a = String.fromCharCode;
        p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0);
        e = i.toDataURL();
        return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL()
      }

      function c(e) {
        var t = a.createElement("script");
        t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t)
      }
      for (o = Array("flag", "emoji"), t.supports = {
          everything: !0,
          everythingExceptFlag: !0
        }, r = 0; r < o.length; r++) t.supports[o[r]] = function (e) {
        if (!p || !p.fillText) return !1;
        switch (p.textBaseline = "top", p.font = "600 32px Arial", e) {
          case "flag":
            return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826,
              55356, 56819
            ], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421,
              56128, 56430, 56128, 56423, 56128, 56447
            ], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430,
              8203, 56128, 56423, 8203, 56128, 56447
            ]);
          case "emoji":
            return !s([55357, 56424, 8205, 55356, 57212], [55357, 56424, 8203, 55356, 57212])
        }
        return !1
      }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports
        .everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]);
      t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t
        .readyCallback = function () {
          t.DOMReady = !0
        }, t.supports.everything || (n = function () {
          t.readyCallback()
        }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (
          e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () {
            "complete" === a.readyState && t.readyCallback()
          })), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n
          .wpemoji)))
    }(window, document, window._wpemojiSettings);
  </script>
  <style>
    img.wp-smiley,
    img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
    }
  </style>
  <link rel='stylesheet' id='jkit-elements-main-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/jeg-elementor-kit/assets/css/elements/main.css?ver=1.11.3' media='all' />
  <link rel='stylesheet' id='wp-block-library-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-includes/css/dist/block-library/style.min.css?ver=5.5.5' media='all' />
  <link rel='stylesheet' id='wc-block-vendors-style-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/vendors-style.css?ver=3.1.0' media='all' />
  <link rel='stylesheet' id='wc-block-style-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css?ver=3.1.0' media='all' />
  <link rel='stylesheet' id='black-widgets-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/black-widgets/includes/front/css/black-widgets-public.css?ver=1.2.0' media='all' />
  <link rel='stylesheet' id='contact-form-7-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.4.2' media='all' />
  <link rel='stylesheet' id='swiper-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/themerain-core/assets/css/swiper.min.css?ver=5.5.5' media='all' />
  <link rel='stylesheet' id='fancybox-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/themerain-core/assets/css/fancybox.min.css?ver=5.5.5' media='all' />
  <link rel='stylesheet' id='trc-main-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/themerain-core/assets/css/main.css?ver=5.5.5' media='all' />
  <link rel='stylesheet' id='woocommerce-layout-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=4.4.2' media='all' />
  <link rel='stylesheet' id='woocommerce-smallscreen-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=4.4.2' media='only screen and (max-width: 768px)' />
  <link rel='stylesheet' id='woocommerce-general-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=4.4.2' media='all' />
  <style id='woocommerce-inline-inline-css'>
    .woocommerce form .form-row .required {
      visibility: visible;
    }
  </style>
  <link rel='stylesheet' id='hfe-style-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/header-footer-elementor/assets/css/header-footer-elementor.css?ver=1.5.4' media='all' />
  <link rel='stylesheet' id='elementor-icons-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.6.2' media='all' />
  <link rel='stylesheet' id='elementor-animations-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=2.9.9' media='all' />
  <link rel='stylesheet' id='elementor-frontend-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=2.9.9' media='all' />
  <link rel='stylesheet' id='elementor-pro-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/elementor-pro/assets/css/frontend.min.css?ver=2.9.1' media='all' />
  <link rel='stylesheet' id='metform-css-formpicker-control-editor-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/metform/controls/assets/css/form-picker-editor.css?ver=1.0.0' media='all' />
  <link rel='stylesheet' id='dce-animations-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/dynamic-animations-for-elementor/assets/css/dce-animations.css?ver=1.0.0' media='all' />
  <link rel='stylesheet' id='elementor-global-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/uploads/elementor/css/global.css?ver=1634023938' media='all' />
  <link rel='stylesheet' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/uploads/elementor/css/post-6309.css?ver=1639043751' media='all' />
  <link rel='stylesheet' id='hfe-widgets-style-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/header-footer-elementor/inc/widgets-css/frontend.css?ver=1.5.4' media='all' />
  <link rel='stylesheet' id='font-awesome-5-all-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/elementor/assets/lib/font-awesome/css/all.min.css?ver=2.9.9' media='all' />
  <link rel='stylesheet' id='font-awesome-4-shim-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/elementor/assets/lib/font-awesome/css/v4-shims.min.css?ver=2.9.9' media='all' />
  <link rel='stylesheet' id='metform-ui-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/metform/public/assets/css/metform-ui.css?ver=1.3.16' media='all' />
  <link rel='stylesheet' id='metform-style-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/metform/public/assets/css/style.css?ver=1.3.16' media='all' />
  <link rel='stylesheet' id='themerain-style-css' href='https://d3fqce1j16tgc9.cloudfront.net/wp-content/themes/scena/assets/css/main.css?ver=5.5.5' media='all' />
  <style id='themerain-style-inline-css'>
    /* Custom CSS */

    :root {
      --text-color: #ffffff;
      --bg-color: #0a0a0a;
    }

    :root {
      --hero-opacity: 100;
    }

    .site-hero.has-scrolled {
      --hero-opacity: 0;
    }
  </style>
  <link rel='stylesheet' id='google-fonts-1-css' href='https://fonts.googleapis.com/css?family=Montserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;ver=5.5.5' media='all' />
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp' id='jquery-core-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/elementor/assets/lib/font-awesome/js/v4-shims.min.js?ver=2.9.9' id='font-awesome-4-shim-js'></script>
  <link rel="https://api.w.org/" href="https://d3fqce1j16tgc9.cloudfront.net/wp-json/" />
  <link rel="alternate" type="application/json" href="https://d3fqce1j16tgc9.cloudfront.net/wp-json/wp/v2/pages/6309" />
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://d3fqce1j16tgc9.cloudfront.net/xmlrpc.php?rsd" />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://d3fqce1j16tgc9.cloudfront.net/wp-includes/wlwmanifest.xml" />
  <%= stylesheet_link_tag 'application', media: "all" %>
  <meta name="generator" content="WordPress 5.5.5" />
  <meta name="generator" content="WooCommerce 4.4.2" />
  <link rel="canonical" href="https://d3fqce1j16tgc9.cloudfront.net/login-page-bpi/" />
  <link rel='shortlink' href='https://d3fqce1j16tgc9.cloudfront.net/?p=6309' />
  <link rel="alternate" type="application/json+oembed" href="https://d3fqce1j16tgc9.cloudfront.net/wp-json/oembed/1.0/embed?url=https%3A%2F%2Faccounting-system-bpi.s3.ap-southeast-1.amazonaws.com%2Flogin-page-bpi%2F" />
  <link rel="alternate" type="text/xml+oembed" href="https://d3fqce1j16tgc9.cloudfront.net/wp-json/oembed/1.0/embed?url=https%3A%2F%2Faccounting-system-bpi.s3.ap-southeast-1.amazonaws.com%2Flogin-page-bpi%2F&#038;format=xml" />
  <meta name="framework" content="Redux 4.2.14" /> <noscript>
    <style>
      .woocommerce-product-gallery {
        opacity: 1 !important;
      }
    </style>
  </noscript>
  <link rel="icon" href="https://d3fqce1j16tgc9.cloudfront.net/wp-content/uploads/2021/09/cropped-WG-FAVICON-2-1-32x32.png" sizes="32x32" />
  <link rel="icon" href="https://d3fqce1j16tgc9.cloudfront.net/wp-content/uploads/2021/09/cropped-WG-FAVICON-2-1-192x192.png" sizes="192x192" />
  <link rel="apple-touch-icon" href="https://d3fqce1j16tgc9.cloudfront.net/wp-content/uploads/2021/09/cropped-WG-FAVICON-2-1-180x180.png" />
  <meta name="msapplication-TileImage" content="https://d3fqce1j16tgc9.cloudfront.net/wp-content/uploads/2021/09/cropped-WG-FAVICON-2-1-270x270.png" />
  <style id="jeg_dynamic_css" type="text/css" data-type="jeg_custom-css"></style>
  <style id="wp-custom-css">
    /** Start Template Kit CSS: Tattoo Studio (css/customizer.css) **/

    /* Envato Elements Template Kit CSS */

    /* Full Height Map Iframe */

    .envato-kit-52-map-fit iframe {
      height: 100vh;
    }

    /* 3 columns slider */

    @media (min-width: 1024px) {
      .envato-kit-52-slider-3-col {
        overflow: hidden;
      }

      .envato-kit-52-slider-3-col .slick-list {
        overflow: visible;
      }

      .envato-kit-52-slider-3-col .slick-slide {
        margin-left: 25px;
        margin-right: 25px;
      }
    }

    /** End Template Kit CSS: Tattoo Studio (css/customizer.css) **/

    /** Start Block Kit CSS: 141-3-1d55f1e76be9fb1a8d9de88accbe962f **/

    .envato-kit-138-bracket .elementor-widget-container>*:before {
      content: "[";
      color: #ffab00;
      display: inline-block;
      margin-right: 4px;
      line-height: 1em;
      position: relative;
      top: -1px;
    }

    .envato-kit-138-bracket .elementor-widget-container>*:after {
      content: "]";
      color: #ffab00;
      display: inline-block;
      margin-left: 4px;
      line-height: 1em;
      position: relative;
      top: -1px;
    }

    /** End Block Kit CSS: 141-3-1d55f1e76be9fb1a8d9de88accbe962f **/

    /** Start Block Kit CSS: 33-3-f2d4515681d0cdeb2a000d0405e47669 **/

    .envato-kit-30-phone-overlay {
      position: absolute !important;
      display: block !important;
      top: 0%;
      left: 0%;
      right: 0%;
      margin: auto;
      z-index: 1;
    }

    .envato-kit-30-div-rotate {
      transform: rotate(90deg);
    }

    /** End Block Kit CSS: 33-3-f2d4515681d0cdeb2a000d0405e47669 **/

    /** Start Block Kit CSS: 136-3-fc37602abad173a9d9d95d89bbe6bb80 **/

    .envato-block__preview {
      overflow: visible !important;
    }

    /** End Block Kit CSS: 136-3-fc37602abad173a9d9d95d89bbe6bb80 **/

    /** Start Block Kit CSS: 69-3-4f8cfb8a1a68ec007f2be7a02bdeadd9 **/

    .envato-kit-66-menu .e--pointer-framed .elementor-item:before {
      border-radius: 1px;
    }

    .envato-kit-66-subscription-form .elementor-form-fields-wrapper {
      position: relative;
    }

    .envato-kit-66-subscription-form .elementor-form-fields-wrapper .elementor-field-type-submit {
      position: static;
    }

    .envato-kit-66-subscription-form .elementor-form-fields-wrapper .elementor-field-type-submit button {
      position: absolute;
      top: 50%;
      right: 6px;
      transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -webmit-transform: translate(0, -50%);
    }

    .envato-kit-66-testi-slider .elementor-testimonial__footer {
      margin-top: -60px !important;
      z-index: 99;
      position: relative;
    }

    .envato-kit-66-featured-slider .elementor-slides .slick-prev {
      width: 50px;
      height: 50px;
      background-color: #ffffff !important;
      transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      left: -25px !important;
      -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.32);
      -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.32);
      box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.32);
    }

    .envato-kit-66-featured-slider .elementor-slides .slick-prev:before {
      display: block;
      margin-top: 0px;
      margin-left: 0px;
      transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    .envato-kit-66-featured-slider .elementor-slides .slick-next {
      width: 50px;
      height: 50px;
      background-color: #ffffff !important;
      transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      right: -25px !important;
      -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.32);
      -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.32);
      box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.32);
    }

    .envato-kit-66-featured-slider .elementor-slides .slick-next:before {
      display: block;
      margin-top: -5px;
      margin-right: -5px;
      transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    .envato-kit-66-orangetext {
      color: #f4511e;
    }

    .envato-kit-66-countdown .elementor-countdown-label {
      display: inline-block !important;
      border: 2px solid rgba(255, 255, 255, 0.2);
      padding: 9px 20px;
    }

    /** End Block Kit CSS: 69-3-4f8cfb8a1a68ec007f2be7a02bdeadd9 **/

    /** Start Block Kit CSS: 144-3-3a7d335f39a8579c20cdf02f8d462582 **/

    .envato-block__preview {
      overflow: visible;
    }

    /* Envato Kit 141 Custom Styles - Applied to the element under Advanced */

    .elementor-headline-animation-type-drop-in .elementor-headline-dynamic-wrapper {
      text-align: center;
    }

    .envato-kit-141-top-0 h1,
    .envato-kit-141-top-0 h2,
    .envato-kit-141-top-0 h3,
    .envato-kit-141-top-0 h4,
    .envato-kit-141-top-0 h5,
    .envato-kit-141-top-0 h6,
    .envato-kit-141-top-0 p {
      margin-top: 0;
    }

    .envato-kit-141-newsletter-inline .elementor-field-textual.elementor-size-md {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .envato-kit-141-bottom-0 p {
      margin-bottom: 0;
    }

    .envato-kit-141-bottom-8 .elementor-price-list .elementor-price-list-item .elementor-price-list-header {
      margin-bottom: .5rem;
    }

    .envato-kit-141.elementor-widget-testimonial-carousel.elementor-pagination-type-bullets .swiper-container {
      padding-bottom: 52px;
    }

    .envato-kit-141-display-inline {
      display: inline-block;
    }

    .envato-kit-141 .elementor-slick-slider ul.slick-dots {
      bottom: -40px;
    }

    /** End Block Kit CSS: 144-3-3a7d335f39a8579c20cdf02f8d462582 **/

    /** Start Block Kit CSS: 72-3-34d2cc762876498c8f6be5405a48e6e2 **/

    .envato-block__preview {
      overflow: visible;
    }

    /*Kit 69 Custom Styling for buttons */

    .envato-kit-69-slide-btn .elementor-button,
    .envato-kit-69-cta-btn .elementor-button,
    .envato-kit-69-flip-btn .elementor-button {
      border-left: 0px !important;
      border-bottom: 0px !important;
      border-right: 0px !important;
      padding: 15px 0 0 !important;
    }

    .envato-kit-69-slide-btn .elementor-slide-button:hover,
    .envato-kit-69-cta-btn .elementor-button:hover,
    .envato-kit-69-flip-btn .elementor-button:hover {
      margin-bottom: 20px;
    }

    .envato-kit-69-menu .elementor-nav-menu--main a:hover {
      margin-top: -7px;
      padding-top: 4px;
      border-bottom: 1px solid #FFF;
    }

    /* Fix menu dropdown width */

    .envato-kit-69-menu .elementor-nav-menu--dropdown {
      width: 100% !important;
    }

    /** End Block Kit CSS: 72-3-34d2cc762876498c8f6be5405a48e6e2 **/

    /** Start Block Kit CSS: 71-3-d415519effd9e11f35d2438c58ea7ebf **/

    .envato-block__preview {
      overflow: visible;
    }

    /** End Block Kit CSS: 71-3-d415519effd9e11f35d2438c58ea7ebf **/

    /** Start Block Kit CSS: 135-3-c665d4805631b9a8bf464e65129b2f58 **/

    .envato-block__preview {
      overflow: visible;
    }

    /** End Block Kit CSS: 135-3-c665d4805631b9a8bf464e65129b2f58 **/

    /** Start Block Kit CSS: 143-3-7969bb877702491bc5ca272e536ada9d **/

    .envato-block__preview {
      overflow: visible;
    }

    /* Material Button Click Effect */

    .envato-kit-140-material-hit .menu-item a,
    .envato-kit-140-material-button .elementor-button {
      background-position: center;
      transition: background 0.8s;
    }

    .envato-kit-140-material-hit .menu-item a:hover,
    .envato-kit-140-material-button .elementor-button:hover {
      background: radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
    }

    .envato-kit-140-material-hit .menu-item a:active,
    .envato-kit-140-material-button .elementor-button:active {
      background-color: #FFF;
      background-size: 100%;
      transition: background 0s;
    }

    /* Field Shadow */

    .envato-kit-140-big-shadow-form .elementor-field-textual {
      box-shadow: 0 20px 30px rgba(0, 0, 0, .05);
    }

    /* FAQ */

    .envato-kit-140-faq .elementor-accordion .elementor-accordion-item {
      border-width: 0 0 1px !important;
    }

    /* Scrollable Columns */

    .envato-kit-140-scrollable {
      height: 100%;
      overflow: auto;
      overflow-x: hidden;
    }

    /* ImageBox: No Space */

    .envato-kit-140-imagebox-nospace:hover {
      transform: scale(1.1);
      transition: all 0.3s;
    }

    .envato-kit-140-imagebox-nospace figure {
      line-height: 0;
    }

    .envato-kit-140-slide .elementor-slide-content {
      background: #FFF;
      margin-left: -60px;
      padding: 1em;
    }

    .envato-kit-140-carousel .slick-active:not(.slick-current) img {
      padding: 20px !important;
      transition: all .9s;
    }

    /** End Block Kit CSS: 143-3-7969bb877702491bc5ca272e536ada9d **/

    /** Start Block Kit CSS: 142-3-a175df65179b9ef6a5ca9f1b2c0202b9 **/

    .envato-block__preview {
      overflow: visible;
    }

    /* Border Radius */

    .envato-kit-139-accordion .elementor-widget-container {
      border-radius: 10px !important;
    }

    .envato-kit-139-map iframe,
    .envato-kit-139-slider .slick-slide,
    .envato-kit-139-flipbox .elementor-flip-box div {
      border-radius: 10px !important;
    }

    /** End Block Kit CSS: 142-3-a175df65179b9ef6a5ca9f1b2c0202b9 **/

    /** Start Block Kit CSS: 105-3-0fb64e69c49a8e10692d28840c54ef95 **/

    .envato-kit-102-phone-overlay {
      position: absolute !important;
      display: block !important;
      top: 0%;
      left: 0%;
      right: 0%;
      margin: auto;
      z-index: 1;
    }

    /** End Block Kit CSS: 105-3-0fb64e69c49a8e10692d28840c54ef95 **/

    .elementor-button-align-end .elementor-field-type-submit {
      justify-content:flex-start !important;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>

<body class="page-template page-template-elementor_canvas page page-id-6309 wp-embed-responsive theme-scena woocommerce-no-js ehf-template-scena ehf-stylesheet-scena jkit-color-scheme swup-enabled scheme-dark no-title elementor-default elementor-template-canvas elementor-kit-5569 elementor-page elementor-page-6309">
  <div class="d-flex">
    <%= render "layouts/stylesheet/css" %>
    <%= render "shared/flash" %>
  </div>
  <div data-elementor-type="wp-page" data-elementor-id="6309" class="elementor elementor-6309" data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        <section class="elementor-element elementor-element-22fcb25b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
          data-id="22fcb25b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-background-overlay"></div>
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div class="elementor-element elementor-element-5f9fb486 elementor-column elementor-col-33 elementor-top-column" data-id="5f9fb486" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-52755eba elementor-widget elementor-widget-image" data-id="52755eba" data-element_type="widget" data-widget_type="image.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-image">
                          <img width="591" height="333" src="<%= image_url('logo_taxsam.png') %>"
                            sizes="(max-width: 591px) 100vw, 591px" /> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="elementor-element elementor-element-45daddec elementor-column elementor-col-33 elementor-top-column" data-id="45daddec" data-element_type="column">
                <div class="elementor-column-wrap">
                  <div class="elementor-widget-wrap">
                  </div>
                </div>
              </div>
              <div class="elementor-element elementor-element-3f2864b6 elementor-column elementor-col-33 elementor-top-column" data-id="3f2864b6" data-element_type="column">
                <div class="elementor-column-wrap">
                  <div class="elementor-widget-wrap">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="elementor-element elementor-element-1773653d elementor-section-height-full elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
          data-id="1773653d" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-background-overlay"></div>
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div class="elementor-element elementor-element-67451f4a elementor-column elementor-col-100 elementor-top-column"
                data-id="67451f4a" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <section class="elementor-element elementor-element-71b3f231 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                      data-id="71b3f231" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                          <div class="elementor-element elementor-element-56a1361 elementor-column elementor-col-50 elementor-inner-column"
                            data-id="56a1361" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="width__small__screen elementor-column-wrap  elementor-element-populated">
                              <%= yield %>
                            </div>
                          </div>
                          <div class="elementor-hidden-phone elementor-hidden-tablet elementor-element elementor-element-45a300bb elementor-column elementor-col-50 elementor-inner-column"
                            data-id="45a300bb" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-column-wrap  elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-5062d095 elementor-absolute elementor-widget__width-initial elementor-widget elementor-widget-image"
                                  data-id="5062d095" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                                  <div class="image__size__by__screen elementor-widget-container">
                                    <div class="elementor-image">
                                      <img width="1024" height="640" src="https://d3fqce1j16tgc9.cloudfront.net/wp-content/uploads/2021/10/abstrac2-1024x640.png"
                                        class="attachment-large size-large" alt="" loading="lazy"
                                        srcset="https://d3fqce1j16tgc9.cloudfront.net/wp-content/uploads/2021/10/abstrac2-1024x640.png 1024w, https://d3fqce1j16tgc9.cloudfront.net/wp-content/uploads/2021/10/abstrac2-300x188.png 300w, https://d3fqce1j16tgc9.cloudfront.net/wp-content/uploads/2021/10/abstrac2-768x480.png 768w, https://d3fqce1j16tgc9.cloudfront.net/wp-content/uploads/2021/10/abstrac2-1536x960.png 1536w, https://d3fqce1j16tgc9.cloudfront.net/wp-content/uploads/2021/10/abstrac2-2048x1280.png 2048w, https://d3fqce1j16tgc9.cloudfront.net/wp-content/uploads/2021/10/abstrac2-600x375.png 600w"
                                        sizes="(max-width: 1024px) 100vw, 1024px" />
                                    </div>
                                  </div>
                                </div>
                                <div class="elementor-element elementor-element-49aae74 elementor-absolute elementor-widget elementor-widget-heading"
                                  data-id="49aae74" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="heading.default">
                                  <div class="elementor-widget-container">
                                    <h2 class="elementor-heading-title elementor-size-default">Sistem Akutansi <br>Terintegrasi</h2>
                                  </div>
                                </div>
                                <div class="elementor-element elementor-element-2e8de7f9 elementor-absolute elementor-widget elementor-widget-heading"
                                  data-id="2e8de7f9" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="heading.default">
                                  <div class="elementor-widget-container">
                                    <h2 class="elementor-heading-title elementor-size-default">Login and Start <br>
                                      Manage Your Accounting </h2>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="elementor-element elementor-element-7ec6897e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
          data-id="7ec6897e" data-element_type="section"
          data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-background-overlay"></div>
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div class="elementor-element elementor-element-48ab0069 elementor-column elementor-col-100 elementor-top-column"
                data-id="48ab0069" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-98e9858 elementor-widget elementor-widget-heading"
                      data-id="98e9858" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Leading HI-Tech Indonesia Startup
                          Digital With serves The Community with Revolutionary Products, System Development, and
                          Information Technology Infrastructure</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
  <script type="text/javascript">
    var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
    document.body.className = c;
  </script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/black-widgets/includes/front/js/bw-jquery-plugins.js?ver=1.0.0' id='bw-jquery-plugins-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/black-widgets/includes/front/js/bw-public.js?ver=1.0.0' id='bw-public-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=7.4.4' id='wp-polyfill-js'></script>
  <script id='wp-polyfill-js-after'>
    ('fetch' in window) || document.write('<script src="https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/dist/vendor/wp-polyfill-fetch.min.js?ver=3.0.0"></scr' + 'ipt>');
    (document.contains) || document.write('<script src="https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/dist/vendor/wp-polyfill-node-contains.min.js?ver=3.42.0"></scr' + 'ipt>');
    (window.DOMRect) || document.write('<script src="https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/dist/vendor/wp-polyfill-dom-rect.min.js?ver=3.42.0"></scr' + 'ipt>');
    (window.URL && window.URL.prototype && window.URLSearchParams) || document.write('<script src="https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/dist/vendor/wp-polyfill-url.min.js?ver=3.6.4"></scr' + 'ipt>');
    (window.FormData && window.FormData.prototype.keys) || document.write('<script src="https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/dist/vendor/wp-polyfill-formdata.min.js?ver=3.0.12"></scr' + 'ipt>');
    (Element.prototype.matches && Element.prototype.closest) || document.write('<script src="https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/dist/vendor/wp-polyfill-element-closest.min.js?ver=2.0.2"></scr' + 'ipt>');
  </script>
  <script id='contact-form-7-js-extra'>
    var wpcf7 = {
      "api": {
        "root": "https:\/\/accounting-system-bpi.s3.ap-southeast-1.amazonaws.com\/wp-json\/",
        "namespace": "contact-form-7\/v1"
      },
      "cached": "1"
    };
  </script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.4.2' id='contact-form-7-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=5.3.6' id='swiper-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/themerain-core/assets/js/fancybox.min.js'  id='fancybox-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/themerain-core/assets/js/main.js' id='trc-main-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70' id='jquery-blockui-js'></script>
  <script id='wc-add-to-cart-js-extra'>
    var wc_add_to_cart_params = {
      "ajax_url": "\/wp-admin\/admin-ajax.php",
      "wc_ajax_url": "\/?wc-ajax=%%endpoint%%",
      "i18n_view_cart": "View cart",
      "cart_url": "https:\/\/accounting-system-bpi.s3.ap-southeast-1.amazonaws.com",
      "is_cart": "",
      "cart_redirect_after_add": "no"
    };
  </script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=4.4.2' id='wc-add-to-cart-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4' id='js-cookie-js'></script>
  <script id='woocommerce-js-extra'>
    var woocommerce_params = {
      "ajax_url": "\/wp-admin\/admin-ajax.php",
      "wc_ajax_url": "\/?wc-ajax=%%endpoint%%"
    };
  </script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=4.4.2' id='woocommerce-js'></script>
  <script id='wc-cart-fragments-js-extra'>
    var wc_cart_fragments_params = {
      "ajax_url": "\/wp-admin\/admin-ajax.php",
      "wc_ajax_url": "\/?wc-ajax=%%endpoint%%",
      "cart_hash_key": "wc_cart_hash_7bef94a9753bc60c8634bb9479822509",
      "fragment_name": "wc_fragments_7bef94a9753bc60c8634bb9479822509",
      "request_timeout": "5000"
    };
  </script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=4.4.2' id='wc-cart-fragments-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/metform/public/assets/js/htm.js?ver=1.3.16' id='htm-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/dist/vendor/lodash.min.js?ver=4.17.15' id='lodash-js'></script>
  <script id='lodash-js-after'>
    window.lodash = _.noConflict();
  </script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/dist/vendor/react.min.js?ver=16.9.0' id='react-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/dist/vendor/react-dom.min.js?ver=16.9.0' id='react-dom-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/dist/escape-html.min.js?ver=318abfb97a58ba13225ff74699ad73d4' id='wp-escape-html-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/dist/element.min.js?ver=5a551e3853304268ef7df075f80a3e15' id='wp-element-js'></script>
  <script id='metform-app-js-extra'>
    var mf = {
      "postType": "page",
      "restURI": "https:\/\/accounting-system-bpi.s3.ap-southeast-1.amazonaws.com\/wp-json\/metform\/v1\/forms\/views\/"
    };
  </script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/metform/public/assets/js/app.js?ver=1.3.16' id='metform-app-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/comment-reply.min.js?ver=5.5.5' id='comment-reply-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/themes/scena/assets/js/gsap.min.js' id='gsap-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/themes/scena/assets/js/scrolltrigger.min.js' id='scroll-trigger-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/themes/scena/assets/js/lazysizes.min.js' id='lazysizes-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/themes/scena/assets/js/ls.unveilhooks.min.js' id='ls-unveilhooks-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/themes/scena/assets/js/swup.min.js' id='swup-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/themes/scena/assets/js/SwupBodyClassPlugin.min.js' id='swup-body-class-plugin-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/themes/scena/assets/js/SwupHeadPlugin.min.js' id='swup-head-plugin-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/themes/scena/assets/js/SwupScrollPlugin.min.js' id='swup-scroll-plugin-js'></script>
  <script id='themerain-functions-js-extra'>
    var themerain = {
      "ajaxurl": "https:\/\/accounting-system-bpi.s3.ap-southeast-1.amazonaws.com\/wp-admin\/admin-ajax.php"
    };
  </script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/themes/scena/assets/js/functions.js' id='themerain-functions-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/wp-embed.min.js?ver=5.5.5' id='wp-embed-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=2.9.9' id='elementor-frontend-modules-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/elementor-pro/assets/lib/sticky/jquery.sticky.min.js?ver=2.9.1' id='elementor-sticky-js'></script>
  <script id='elementor-pro-frontend-js-before'>
    var ElementorProFrontendConfig = {
      "ajaxurl": "https:\/\/accounting-system-bpi.s3.ap-southeast-1.amazonaws.com\/wp-admin\/admin-ajax.php",
      "nonce": "23807d2760",
      "shareButtonsNetworks": {
        "facebook": {
          "title": "Facebook",
          "has_counter": true
        },
        "twitter": {
          "title": "Twitter"
        },
        "google": {
          "title": "Google+",
          "has_counter": true
        },
        "linkedin": {
          "title": "LinkedIn",
          "has_counter": true
        },
        "pinterest": {
          "title": "Pinterest",
          "has_counter": true
        },
        "reddit": {
          "title": "Reddit",
          "has_counter": true
        },
        "vk": {
          "title": "VK",
          "has_counter": true
        },
        "odnoklassniki": {
          "title": "OK",
          "has_counter": true
        },
        "tumblr": {
          "title": "Tumblr"
        },
        "delicious": {
          "title": "Delicious"
        },
        "digg": {
          "title": "Digg"
        },
        "skype": {
          "title": "Skype"
        },
        "stumbleupon": {
          "title": "StumbleUpon",
          "has_counter": true
        },
        "mix": {
          "title": "Mix"
        },
        "telegram": {
          "title": "Telegram"
        },
        "pocket": {
          "title": "Pocket",
          "has_counter": true
        },
        "xing": {
          "title": "XING",
          "has_counter": true
        },
        "whatsapp": {
          "title": "WhatsApp"
        },
        "email": {
          "title": "Email"
        },
        "print": {
          "title": "Print"
        }
      },
      "menu_cart": {
        "cart_page_url": "https:\/\/accounting-system-bpi.s3.ap-southeast-1.amazonaws.com",
        "checkout_page_url": "https:\/\/accounting-system-bpi.s3.ap-southeast-1.amazonaws.com"
      },
      "facebook_sdk": {
        "lang": "en_US",
        "app_id": ""
      }
    };
  </script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/elementor-pro/assets/js/frontend.min.js?ver=2.9.1' id='elementor-pro-frontend-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/jquery/ui/position.min.js?ver=1.11.4' id='jquery-ui-position-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js?ver=4.7.6' id='elementor-dialog-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2' id='elementor-waypoints-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js?ver=2.9.9' id='share-link-js'></script>
  <script id='elementor-frontend-js-before'>
    var elementorFrontendConfig = {
      "environmentMode": {
        "edit": false,
        "wpPreview": false
      },
      "i18n": {
        "shareOnFacebook": "Share on Facebook",
        "shareOnTwitter": "Share on Twitter",
        "pinIt": "Pin it",
        "downloadImage": "Download image"
      },
      "is_rtl": false,
      "breakpoints": {
        "xs": 0,
        "sm": 480,
        "md": 768,
        "lg": 1025,
        "xl": 1440,
        "xxl": 1600
      },
      "version": "2.9.9",
      "urls": {
        "assets": "https:\/\/accounting-system-bpi.s3.ap-southeast-1.amazonaws.com\/wp-content\/plugins\/elementor\/assets\/"
      },
      "settings": {
        "page": [],
        "general": {
          "elementor_global_image_lightbox": "yes",
          "elementor_lightbox_enable_counter": "yes",
          "elementor_lightbox_enable_fullscreen": "yes",
          "elementor_lightbox_enable_zoom": "yes",
          "elementor_lightbox_enable_share": "yes",
          "elementor_lightbox_title_src": "title",
          "elementor_lightbox_description_src": "description"
        },
        "editorPreferences": []
      },
      "post": {
        "id": 6309,
        "title": "Login%20page%20BPI%20%E2%80%93%20WellcodeDev",
        "excerpt": "",
        "featuredImage": false
      }
    };
  </script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=2.9.9' id='elementor-frontend-js'></script>
  <script id='elementor-frontend-js-after'>
    var jkit_ajax_url = "https://d3fqce1j16tgc9.cloudfront.net/?jkit-ajax-request=jkit_elements",
      jkit_nonce = "c3c6e50c34";
  </script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/underscore.min.js?ver=1.8.3' id='underscore-js'></script>
  <script id='wp-util-js-extra'>
    var _wpUtilSettings = {
      "ajax": {
        "url": "\/wp-admin\/admin-ajax.php"
      }
    };
  </script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-includes/js/wp-util.min.js?ver=5.5.5' id='wp-util-js'></script>
  <script id='wpforms-elementor-js-extra'>
    var wpformsElementorVars = {
      "recaptcha_type": "v2"
    };
  </script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/wpforms-lite/assets/js/integrations/elementor/frontend.min.js?ver=1.6.2.2' id='wpforms-elementor-js'></script>
  <script src='https://d3fqce1j16tgc9.cloudfront.net/wp-content/plugins/metform/controls/assets/js/form-picker-editor.js?ver=1.3.16' id='metform-js-formpicker-control-editor-js'></script>
</body>

</html>